version: '2'

services:
  mysql:
    image: mysql:5.7
    container_name: bolha_musical-mysql
    working_dir: /application
    volumes:
      - .:/application
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=bolha_musical
      - MYSQL_USER=bolha_musical
      - MYSQL_PASSWORD=123456
    ports:
      - "4442:3306"
  mysql-test:
    image: mysql:5.7
    container_name: bolha_musical-mysql-test
    working_dir: /application
    volumes:
      - .:/application
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=bolha_musical
      - MYSQL_USER=bolha_musical
      - MYSQL_PASSWORD=123456
    ports:
      - "4443:3306"
  bi:
    image: metabase/metabase
    volumes:
      - "/home/rafael/metabase/volumes:/metabase-data"
    environment:
      MB_DB_FILE: "/metabase-data/metabase.db"
    ports:
      - "3000:3000"
    depends_on:
      - mysql
  redis:
    image: redis:alpine
    container_name: bolha-redis
volumes:
  mysql_data:
    driver: local